<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Home - Cacharritos Rent a Car</title>
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/estilo_index.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/fontello.css' %}">
</head>

<body>
    <header>
        <div class="contenedor">
            <img src="{% static 'core/img/logo2.png' %}" alt="logo" id="logo">
            <input type="checkbox" id="barra-menu">
            <label class="icon-menu" for="barra-menu"></label>
            <nav class="menu">
                <a href="{% url 'home' %}">Inicio</a>
                <a href="{% url 'arriendos' %}">Arriendos</a>
                <a href="{% url 'vehiculos' %}">Veh&iacute;culos</a>
                <a href="{% url 'contacto' %}">Contacto</a>
                {% if user.is_authenticated %}
                <a href="#">Usuario: {{ user.username }}</a>
                <a href="{% url 'logout' %}">Cerrar Sesi&oacute;n</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        <section id="banner">
            <div class="contenedor-carrusel">
                <div class="presentacion fade">
                    <img src="{% static 'core/img/banner_1.jpg' %}" style="width:100%" alt="banner1">

                </div>

                <div class="presentacion fade">
                    <img src="{% static 'core/img/banner_2.jpg' %}" style="width:100%" alt="banner2">
                </div>

                <div class="presentacion fade">
                    <img src="{% static 'core/img/banner_3.jpg' %}" style="width:100%" alt="banner3">
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </section>

        <section id="empresa">
            <div class="contenedor-empresa">
                <h2>Nuestra Empresa</h2>
                <p>En <b>Cacharritos Rent a Car</b>, le brinda un servicio integral de alta calidad, combinando un buen
                    producto con una atenci&oacute;n directa y un ejecutivo de excelencia, que son necesarios para otorgar mayor valor a nuestros clientes, cuando necesite un auto de lujo, tenemos la clave para crear confianza de nuestros clientes hacia nuestro servicio.</p><br>               

                <p>Al ser cliente de cacharritos Rent a Car, usted cuenta con una gama de servicios relacionados a los autos de la m&aacute;s alta gama. Organizamos y facilitamos arriendos para que pueda conducir el auto de sus sueños. A la vez, les proporcionamos constante información relacionada a nuestro rubro, sus productos y servicios.
                </p><br>

                <p>As&iacute; venimos creando equipos humanos que por largos años ya son parte de nuestro crecimiento y de nuestros cimientos, siempre enfocados a la entrega de una atención personalizada y diferente en su contexto.</p>
                
                <img src="{% static 'core/img/1516638097564.jpg' %}" id="img-rental" alt="luxury rentals">
            </div>
        </section>

        <section>            
            <div class="contenedor-info">
               <h2>¿Por qu&eacute; preferirnos?</h2>
                <div class="caja">
                    <div class="icono">
                        <i class="fa icon-tags"></i>
                    </div>
                    <div class="contenido">
                        <h3>PROMOCIONES</h3>
                        <p>Tenemos promociones y descuentos durante todo el año, para que puedas disfrutar de nuestro servicio.</p>
                    </div>
                </div>
                <div class="caja">
                    <div class="icono">
                        <i class="fa icon-cab"></i>
                    </div>
                    <div class="contenido">
                        <h3>FLOTA</h3>
                        <p>Tenemos 15 sucursales de Arica a Punta Arenas, y en los principales Aeropuertos.</p>
                    </div>
                </div>
                <div class="caja">
                    <div class="icono">
                        <i class="fa icon-map"></i>
                    </div>
                    <div class="contenido">
                        <h3>PRESENCIA</h3>
                        <p>Tenemos promociones y descuentos durante todo el año, para que puedas disfrutar de nuestro servicio.</p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="contenedor">
            <div class="sociales">
                <a class="rrss icon-facebook" href="http://www.facebook.com"></a>
                <a class="rrss icon-instagram" href="http://www.instagram.com"></a>
                <a class="rrss icon-twitter" href="http://www.twitter.com"></a>
                <a class="rrss icon-mail-alt" href="https://www.gmail.com"></a>
            </div>
            <p class="copyright">Cacharritos Rent a Car Chile &copy; 2019</p>
        </div>
    </footer>

    <script src="{% static 'core/js/script.js' %}"></script>
</body>
</html>