<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Vehículos - Cacharritos Rent a Car</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'core/css/estilo_vehiculos.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/fontello.css' %}">
</head>

<header>
    <div class="contenedor-menu">
        <img src="{% static 'core/img/logo2.png' %}" alt="logo" id="logo">
        <input type="checkbox" id="barra-menu">
        <label class="icon-menu" for="barra-menu"></label>
        <nav class="menu">
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'arriendos' %}">Arriendos</a>
            <a href="{% url 'vehiculos' %}">Veh&iacute;culos</a>
            <a href="{% url 'contacto' %}">Contacto</a>
            {% if user.is_authenticated %}
            <a href="#">Usuario: {{ user.username }}</a>
            <a href="{% url 'logout' %}">Cerrar Sesi&oacute;n</a>
            {% endif %}
        </nav>
    </div>
</header>

<body>
    <div class="contenedor">
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/Audi r8 2016.png' %}" alt="audi r8">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>Audi R8</h2>
                    <p>El Audi R8 proporciona una sensación de control inmediato sobre una potencia casi ilimitada. El motor 5.2 FSI está disponible en dos versiones: una con 540 CV (397 kW) y otra con unos deportivos 610 CV (449 kW), el Audi R8 hace que cada trayecto se convierta en una experiencia incomparable.</p><br>
                    
                    <p>Desde los $100.000 + iva / Diarios</p>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/bmw%20X21%202019.png' %}" alt="bmw x21">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>BMW X21</h2>
                    <p>Absolutamente único. Extremadamente excepcional. El nuevo BMW X2 deja muy claras sus ambiciones deportivas a primera vista. Gracias a su audaz atletismo, proporciona un rendimiento dinámico y ágil inigualable en esta clase.</p><br>
                    
                    <p>Desde los $60.000 + iva / Diarios</p>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/camaro ss 2017.png' %}" alt="camaro ss">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>Chevrolet Camaro</h2>
                    <p>El nuevo Chevrolet Camaro 2019 fue rediseñado de principio a fin. Su línea ha evolucionado para verse aún mas estilizada, pero eso no es todo, incluye tecnología, performance y un manejo superior. Aceléralo hasta el fondo y descubre lo que significa la adrenalina.</p><br>
                    
                    <p>Desde los $50.000 + iva / Diarios</p>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/Chevrolet suburban 2016.png' %}" alt="chevrolet suburban">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>Chevrolet Suburban</h2>
                    <p>Con Chevrolet Suburban no habrá necesidad de pelear por el mejor lugar; cada asiento, desde el del conductor hasta el del último pasajero de la tercera fila, se diseñó para proporcionar confort.</p><br>
                    
                    <p>Desde los $35.000 + iva / Diarios</p>
                </div>                
            </div>
        </div>
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/Ferrari 612 GTO 2018.png' %}" alt="ferrari 612">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>Ferrari 612 GTO</h2>
                    <p>Las formas de los faros delanteros como de los pilotos posteriores son angulosas y originales, lo que más destaca es el alargado morro de este deportivo, rematado en una amplia parrilla, aunque inequívocamente este detalle es un guiño al modelo clásico.</p><br>
                    
                    <p>Desde los $85.000 + iva / Diarios</p>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/lamborghini aventador 2011.png' %}" alt="lamborghini aventador">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>Lamborghini Aventador</h2>
                    <p>El Lamborghini Aventador LP700-4 es un automóvil superdeportivo biplaza coupé del fabricante italiano Lamborghini. Fue concebido para reemplazar al Murciélago, como el nuevo modelo tope de gama. </p><br>                    
                    
                    <p>Desde los $150.000 + iva / Diarios</p>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/rolls royce phantom 2018.png' %}" alt="royce phantom">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>Rolls Royce Phantom</h2>
                    <p>ara algunas personas, Rolls-Royce representa el orden, el establishment. Pero la verdad es otra y muy diferente. Los propietarios de un Phantom tienen todos cualidades singulares que se complementan con las de sus vehículos. Son únicos en su estilo.</p><br>
                    
                    <p>Desde los $100.000 + iva / Diarios</p>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/Hummer%20h2%202009.png' %}" alt="hummer h2">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>Hummer H2</h2>
                    <p>A diferencia del Hummer H1, el H2 no está pensado para uso militar sino solo para el uso civil, por lo cual es más bajo y ligero. Tiene espacio para siete personas, motor delantero longitudinal y tracción total 4x4 en las cuatro ruedas. Se empezó a fabricar desde 2002 hasta 2009. </p><br>
                    
                    <p>Desde los $80.000 + iva / Diarios</p>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/lamborghini huracan 2018.png' %}" alt="lamborghini huracan">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>Lamborghini Huracan</h2>
                    <p>La primera versión que se presenta es el Lamborghini Huracán LP 610-4, presenta un motor V10 de 5.2 L con 610 CV colocado en posición central posterior con un sistema de tracción integral. Posee una caja de doble embrague con siete velocidades.</p><br>
                    
                    <p>Desde los $150.000 + iva / Diarios</p>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/volvo s90 2016.png' %}" alt="volvo s90">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>Volvo S90</h2>
                    <p>Elegante y sobrio, creado con excelentes materiales naturales: el S90 es un sedán de lujo inigualable. Con un espacio interior apacible y grato, combinado con tecnología intuitiva y amplia luz natural, el S90 es un oasis de privacidad. Es el sedán ejecutivo, redefinido.</p><br>
                    
                    <p>Desde los $50.000 + iva / Diarios</p>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/volvo XC90 2019.png' %}" alt="volvo xc90">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>Volvo XC90</h2>
                    <p>Volvo Cars introduce la tecnología “Twin Engine” para el primer plug-in SUV premium del mundo, es un auto eléctrico, hibrido enchufable y de alto rendimiento.</p><br>
                    
                    <p>Desde los $35.000 + iva / Diarios</p>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="vehiculo">
                <img src="{% static 'core/img/imgautos/bmw 520 2017.png' %}" alt="bmw 520">
            </div>
            <div class="detalle">
                <div class="contenido">
                    <h2>BMW 520</h2>
                    <p>El BMW Serie 5 es una de las berlinas más aerodinámicas del mundo. Para lograrlo, además de la rejilla frontal, se emplean elementos como los winglets tras los pasos de rueda delanteros, que reducen la presión del aire que se genera en los guardabarros, así como las turbulencias.</p><br>
                    
                    <p>Desde los $50.000 + iva / Diarios</p>
                </div>
            </div>
        </div>

    </div>


    <footer>
        <div class="contenedor-rrss">
            <div class="sociales">
                <a class="rrss icon-facebook" href="http://www.facebook.com"></a>
                <a class="rrss icon-instagram" href="http://www.instagram.com"></a>
                <a class="rrss icon-twitter" href="http://www.twitter.com"></a>
                <a class="rrss icon-mail-alt" href="https://www.gmail.com"></a>
            </div>
            <p class="copyright">Cacharritos Rent a Car Chile &copy; 2019</p>
        </div>
    </footer>

</body></html>