<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Contacto - Cacharritos Rent a Car</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'core/css/estilo_login.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/fontello.css' %}">
    <script src="{% static 'core/js/script.js' %}"></script>
</head>

<header>
    <div class="contenedor-menu">
        <img src="{% static 'core/img/logo2.png' %}" alt="logo" id="logo">
        <input type="checkbox" id="barra-menu">
        <label class="icon-menu" for="barra-menu"></label>
        <nav class="menu">
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'arriendos' %}">Arriendos</a>
            <a href="{% url 'vehiculos' %}">Veh&iacute;culos</a>
            <a href="{% url 'contacto' %}">Contacto</a>
            
            {% if user.is_authenticated %}
            <a href="#">Usuario: {{ user.username }}</a>
            <a href="{% url 'logout' %}">Cerrar Sesi&oacute;n</a>
            
            {% endif %}
        </nav>
    </div>
</header>

<body>
    <div class="contenedor">
       <h2>Registro de usuario</h2>
    <form action="" method="POST">
        {% csrf_token %}

        <table>
           {{ form.as_table }}
        </table>
               
            

            <div class="boton">
            
                <input  type="submit" value="registrar"  >
                <input  type="reset" value="Limpiar"  >
            </div>
        
    </form>
    </div>

    <footer>
        <div class="contenedor-rrss">
            <div class="sociales">
                <a class="rrss icon-facebook" href="http://www.facebook.com"></a>
                <a class="rrss icon-instagram" href="http://www.instagram.com"></a>
                <a class="rrss icon-twitter" href="http://www.twitter.com"></a>
                <a class="rrss icon-mail-alt" href="https://www.gmail.com"></a>
            </div>
            <p class="copyright">Cacharritos Rent a Car Chile &copy; 2019</p>
        </div>
    </footer>
</body></html>